<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> 个人博客</title>

        <!-- Bootstrap -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <!--导航条开始-->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"  aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">我的博客</a>
                </div>
   
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">首页</a>
                        </li>
                        <li>
                            <a href="#about">关于</a>
                        </li>
                        <li>
                            <a href="#contact">联系</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">下拉框<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">功能</a></li>
                                <li><a href="#">其他功能</a></li>
                                <li><a href="#">其他</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">导航头</li>
                                <li><a href="#">隔离开的链接</a></li>
                                <li><a href="#">其他隔离卡的链接</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--导航条结束-->

        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>